#picture {
    max-height: 95vh;
    max-width: 95vw;
}
.plyr {
    height: 95vh;
    min-height: 100%;
}
#group_member_details {
    font-size: 1.2em;
    border-top: 1px solid white;
    max-width:40em;
    margin: auto;
}

#header {
    background-color: #666;
}
#header.jh {
    background-color: navy;
}
#header.sh {
    background-color: maroon;
}