<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
            <a class="navbar-brand" href="./"><img src="./assets/img/school-logo.jpg" alt="DHSSC Logo"> SC Elections 2022</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="./" id="homepage">Homepage</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarJHDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-headertype="jh">
                Junior High
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarJHDropdownMenuLink">
                <li><a class="dropdown-item" href="./menu.html?type=jh&cat=catalog">Candidates Catalog</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=jh&cat=profile">Candidates Profile</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=jh&cat=introvid">Introductory Videos</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=jh&cat=dtalk">D'TALK</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=jh&cat=group">Group Infographic</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarSHDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-headertype="sh">
                Senior High
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarSHDropdownMenuLink">
                <li><a class="dropdown-item" href="./menu.html?type=sh&cat=catalog">Candidates Catalog</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=sh&cat=profile">Candidates Profile</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=sh&cat=introvid">Introductory Videos</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=sh&cat=dtalk">D'TALK</a></li>
                <li><a class="dropdown-item" href="./menu.html?type=sh&cat=group">Group Infographic</a></li>
                </ul>
            </li>
                
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarPDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                President
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarPDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Task #0</a></li>
                <li><a class="dropdown-item" href="#">P01 ##</a></li>
                <li><a class="dropdown-item" href="#">P02 ##</a></li>
                </ul>
            </li>  -->

            <li class="nav-item" id="navbarPDropdownMenuLink">
                <a class="nav-link" href="./upcoming.html?type=p" data-headertype="p">President</a>
            </li>

            <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarHCDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-headertype="hc">
                House Captain
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarHCDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Task #0</a></li>
                <li><a class="dropdown-item" href="#">Bennu</a></li>
                <li><a class="dropdown-item" href="#">Drakon</a></li>
                <li><a class="dropdown-item" href="#">Homa</a></li>
                <li><a class="dropdown-item" href="#">Kirin</a></li>
                </ul> 
            </li> -->

            <li class="nav-item" id="navbarHCDropdownMenuLink">
                <a class="nav-link" href="./upcoming.html?type=hc" data-headertype="hc">House Captain</a>
            </li>

            </ul>
        </div>
        </div>
</nav>
